[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  command = "npm run dev"
  targetPort = 8080
  framework = "#custom"
  functions = "netlify/functions"
